/build/
/out/
.vs/
*.user
# Android
android/.gradle/
android/**/build/
android/local.properties
android/.idea/
android/**/.cxx/
*.apk
*.aab
# .NET
windows/ui/**/bin/
windows/ui/**/obj/
/dist/
/third_party/vdd/
